<h1>
	Our Travel Ideas Website
</h1>

<p>
	Add new travel ideas to share. Search for existing ideas and leave comments.
</p>
<p>
	Don't forget to sign in!
</p>

<% @ideas.each do |idea| %>
	<%= render 'ideas/idea', idea: idea %>
<% end %>